@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

body {
  background-color: black;
  font-family: "Press Start 2P", sans-serif;
  color: white;
}

.container {
  margin: auto;
  width: auto;
  height: 600px;
  border: 5px dashed yellow;
}

li {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  list-style: none;
  text-align: left;
}

.center {
  text-align: center;
}

li button {
  background-color: red;
  font-family: "Press Start 2P", sans-serif;
  border: 2px solid black;
  color: yellow;
  padding: 5px;
}

.btn {
  background-color: yellow;
  border: 0.4px black;
}
